body {
  background-color: rgb(40, 38, 40);
  color: rgb(220, 220, 220);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
}

/* todo
[ ] table styling/organize
[ ] boot strap maybe?
[ ] keep t/f? remove the column
    [ ] strikethrough text when true maybe?
[ ] colors / theme
    - look mac native maybe
    - jojos for fun
 */