body {
  background-color: rgb(28,28,41);
  color: rgb(198, 208, 242);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
}

/* FLEXBOX LAYOUT  */
html, body {
  min-height: 100vh;
  margin: auto;
}

body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

main {
  flex: auto;
  max-width: 80%;
  margin: auto;
}

/* HEADER/FOOTER */
header, footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 4em;
  font-variant: small-caps;
  margin-top: 0.25em;
  margin-left: 0.25em;
  
}

form {
  padding-bottom: 2em;
}

input {
  padding: 1em;
  width: 400px;
  background: #fcfcfc;
  border: 1px solid;
  font-style: italic;
}
button {
  padding: 0.5em;
  width: 85px;
}

/* TABLE LAYOUT */
table {
  width: 90%;
  text-align: center;
  border: 1px solid rgb(137, 145, 179);
  border-collapse: collapse;
}
table, th, td {
  height: 2.15em;
}
th, td {
  padding: 0.5em;
  min-width: 3.5em;
}
thead {
  background: rgb(227, 152, 137);
  font-size: x-large;
  color: rgb(57, 60, 79);
}
tbody tr:nth-child(odd) {
  background: rgb(67, 70, 94);
}
tbody tr:nth-child(even) {
  background: rgb(57, 60, 79);

}

#complete {
  text-decoration: line-through
}

/* todo
[ ] table styling/organize
[ ] boot strap maybe?
[ ] keep t/f? remove the column
    [ ] strikethrough text when true maybe?
[ ] colors / theme
    - look mac native maybe
 */